// Nord Light theme for Zellij
// A light theme based on the Nord color palette (https://www.nordtheme.com/)
// Structural mirror of Zellij's bundled "nord" theme, adapted for light backgrounds.
// https://github.com/nord-light/zellij
themes {
    nord-light {
        text_unselected {
            base 46 52 64
            background 216 222 233
            emphasis_0 216 222 233
            emphasis_1 12 116 130
            emphasis_2 87 113 64
            emphasis_3 134 91 127
        }
        text_selected {
            base 46 52 64
            background 216 222 233
            emphasis_0 216 222 233
            emphasis_1 12 116 130
            emphasis_2 87 113 64
            emphasis_3 134 91 127
        }
        ribbon_selected {
            base 229 233 240
            background 87 113 64
            emphasis_0 174 71 80
            emphasis_1 151 89 67
            emphasis_2 134 91 127
            emphasis_3 75 108 140
        }
        ribbon_unselected {
            base 76 86 106
            background 200 208 218
            emphasis_0 174 71 80
            emphasis_1 229 233 240
            emphasis_2 75 108 140
            emphasis_3 134 91 127
        }
        table_title {
            base 87 113 64
            background 0
            emphasis_0 151 89 67
            emphasis_1 12 116 130
            emphasis_2 87 113 64
            emphasis_3 134 91 127
        }
        table_cell_selected {
            base 46 52 64
            background 229 233 240
            emphasis_0 151 89 67
            emphasis_1 12 116 130
            emphasis_2 87 113 64
            emphasis_3 134 91 127
        }
        table_cell_unselected {
            base 46 52 64
            background 216 222 233
            emphasis_0 151 89 67
            emphasis_1 12 116 130
            emphasis_2 87 113 64
            emphasis_3 134 91 127
        }
        list_selected {
            base 46 52 64
            background 229 233 240
            emphasis_0 151 89 67
            emphasis_1 12 116 130
            emphasis_2 87 113 64
            emphasis_3 134 91 127
        }
        list_unselected {
            base 46 52 64
            background 216 222 233
            emphasis_0 151 89 67
            emphasis_1 12 116 130
            emphasis_2 87 113 64
            emphasis_3 134 91 127
        }
        frame_selected {
            base 87 113 64
            background 0
            emphasis_0 151 89 67
            emphasis_1 12 116 130
            emphasis_2 134 91 127
            emphasis_3 0
        }
        frame_highlight {
            base 151 89 67
            background 0
            emphasis_0 134 91 127
            emphasis_1 151 89 67
            emphasis_2 151 89 67
            emphasis_3 151 89 67
        }
        exit_code_success {
            base 87 113 64
            background 0
            emphasis_0 12 116 130
            emphasis_1 59 66 82
            emphasis_2 134 91 127
            emphasis_3 75 108 140
        }
        exit_code_error {
            base 174 71 80
            background 0
            emphasis_0 127 102 20
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 134 91 127
            player_2 75 108 140
            player_3 0
            player_4 127 102 20
            player_5 12 116 130
            player_6 0
            player_7 174 71 80
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
